<footer id="page-footer">
  <p>
    Copyright &copy; 2013
    <%= link_to 'The Pragmatic Studio', 'http://pragmaticstudio.com' %>
    - In cooperation with Mate Kaszas 
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>